body{
    background-color: rgb(189, 186, 186);
    margin-top: 5%;
    
}

.input{
    width: 240px;
    padding: 20px;
    font-size: 20px;
    border: 2px solid black;
    background-color: white;
    color: green;
    font-weight: bolder;

}

#AC{
    
   background-color: aqua;
   padding: 18px;
   font-size: 21px;
   border: 1px solid black;
   

}

.button{
    padding: 40px;
}

.button:hover{
    background-color: wheat;
    font-weight: bolder;
    color: black;
    
}



/* second container start */


.secondcontainer{
    width: 500px;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 200px 100px;
    color: white;
    column-gap: 80px;
    

}

.firstcol{
    background-color: gray;
}

.row{
    width: 300px;
    background-color: black;
    color: white;
    line-height: 100px;
    
    
}

.second-row{
    display: grid;
    grid-template-rows: 59px;
    align-items: center;
    background-color: burlywood;
    height: 463px;
    color: black;
    font-weight: bolder;
    font-size: 20px;
    border: 2px solid black;
    
}
